DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=test
# Comma-separated list of tables to back up, or empty for all tables
DB_TABLES=table1,table2
OUTPUT_FILE=backup.zip
# Empty string means no schedule, otherwise use cron format
SCHEDULE="0 0 * * *"